<div class="container">
  <!-- toolbar -->
  <mat-toolbar
    class="mat-elevation-z4"
    color="primary"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <span fxFlex>{{ title }} - {{ programName }}</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="end start">
      <button mat-flat-button (click)="saveProgram()">
        Save
      </button>
    </div>
  </mat-toolbar>

  <!-- main content -->
  <mat-drawer-container class="container">
    <mat-drawer-content style="height: 100%">
      <div id="blocklyDiv" style="width: 100%; height: 100%"></div>
      <xml id="toolbox" style="display: none">
        <category name="Control" colour="120">
          <block type="controls_if"></block>
          <block type="controls_repeat_ext" disabled="true"></block>
        </category>
        <category name="Text" colour="230">
          <block type="text"></block>
          <block type="text_print"></block>
        </category>
        <category name="Custom" colour="360">
          <block type="begin"></block>
          <block type="move"></block>
          <block type="end"></block>
        </category>
      </xml>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
